header {
    height: 60px;
    background: black;
}

.main_icon {
    position: relative;
    margin-left: 10px;
    top: 22px !important;
    color: white;
}

.main_header {
    font-size: 14px;
    margin-left: 10px;
    color: white;
    font-family: 'Lobster', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.user_Info {
    display: none;
    position: relative;
    right: 90px;
    font-size: 20px;
    top: -6px;
}

.avatar {
    display: none;  
}

.avatar img {
    border-radius: 50%;
    width: 50px;
    height: 40px;
    position: relative;
    top: -2px;
    right: 10px;
}

.create_new {
    display: none;
    float: right; 
    position: relative;
    top: 35px;
    right: -150px;
}

.main_login {
    position: relative;
    margin-left: 10px;
    top: 15px !important;
    float: right
}

.login_div {
    position: relative;
    right: 60px;
}

#setting_gear {
    font-size: 30px;
    text-decoration: none;
    color: white
}

#setting_gear:hover {
    color: white
}

.settings_menu {
    left: -70px !important;
}

#signinButton {
    margin-left: 20px;
}

#signOutButton {
    margin-left: 20px;
    display: none;
}

#signOutButton button {
    width: 116px;
    height: 36px;
    border: 1px #4688f1 solid;
    border-radius: 5px;
    color: #4688f1;
}

.log-out_glyph_settings_gear i {
    right: 15px;
    top: -9px;
}

.vr_divider {
    border-left: 1px #4688f1 solid;
    /* height: 36px !important; */
    position: relative;
    right: 8px;
    font-size: 29px;
    bottom: 4px;
}

.log-out_settings_gear {
    position: relative;
    top: -10px;
}

#main_banner {
    /* display: inline; */
    /* background: transparent radial-gradient(ellipse at center top,#00000069 0,#161616 75%) repeat fixed 0 0; */
    height: 350px
}

.mid-container {}

#main_banner img {
    position: relative;
    top: 20px;
    left: 15%;
    left: 25%;
    width: 60%;
    height: 300px;
}

a {
    /* color: #f7ff09 !important; */
    font-size: 22px;
}

.label {
    /* color:white; */
}