<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-fluid">
        {% extends "main.html" %}
        {% block state %}
        {{STATE}}
        {% endblock %}
        {% block content %}   
        <div class="container-fluid mid-container">
            <div class="container-fluid">
                <div class="row catalog-list">
                    {% if catalog %}
                    <div class="col">
                        {% for c in catalog %}
                        <div class="row mb-10">
                            <div class="create_nav col-xs-3" data-id="{{c.id}}">
                                <a href="javascript:void(0)" class="catalog" data-id="{{c.id}}">{{c.name}}<br></a> 
                            </div>
                            <div class="col-xs-9" id="cat_items"></div> 
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    
    <script src="/static/scripts/main_script.js"></script>
</body>

</html>