<!doctype html>
<html>

<head>
    <title>CATALOG</title>
    <meta name="google-signin-client_id"
        content="1028815413798-feromut3dh5f9fi7s5i2g9e69dkjj8mq.apps.googleusercontent.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '121060193168-0bhe2col9k2lntcg2dauo2snl3o4c2gh.apps.googleusercontent.com'
                });
            });
        }
    </script>

</head>

<body>
    <div id="header">
        <header>
            <span class="main_icon">
                <i class="glyphicon glyphicon-king"></i><span class="main_header">SPORTS INVENTORY</span>
                <span class="main_login">
                    <div class="user_info">
                        <span class="avatar"><img id="avatar_img" src="" alt="User Image"></span>
                        <span class="user_name"></span>
                    </div>
                    <div class="login_div">
                            <button id="signinButton" data-state="{{STATE}}"class="btn btn-light">
                                <img src="../static/assets/google-logo.png" alt="G" /> Login
                            </button>
                            
                        <!-- <span><a id="setting_gear" href="javascript:void(0)"><i
                                    class="glyphicon glyphicon-cog"></i></a></span>
                        <div class="dropdown-menu">
                            <button id="signinButton" data-state="{{STATE}}"class="btn btn-primary">G Signin</button>
                            <div id="signOutButton">
                                <button>
                                    <div class="log-out_glyph_settings_gear">
                                        <i class="glyphicon glyphicon-log-out"></i>
                                    </div>
                                    <div class="vr_divider">

                                    </div>
                                    <div class="log-out_settings_gear" id="signOut">
                                        Log out
                                    </div>

                                </button>
                            </div>
                        </div> -->
                    </div>
                    <div id="signOutButton"> 
                            <button class="log-out_settings_gear btn btn-light" id="signOut">
                                    LogOut
                               </button>
                    </div>
                </span>
            </span>
        </header>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <script src="/static/scripts/main_script.js"></script>
    <script>
    </script>
</body>

</html>