<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        {% extends "main.html" %}
        {% block content %} 
        <div class="contTop">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-1">
                        <a href="{{url_for('userCatalog', user_id=catalog_edit.user_id)}}" class="btn btn-primary login_home_btn"
                            role="button">Home</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Edit Catalog</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid create_form">
            {% if catalog_edit %}
            <div class="row">
                <form>
                    <label class="input_label">Sport Name:</label>
                    <input type="text" name="sport_name" class="sport_name" id=" sport_name"
                        data-id="{{catalog_edit.catalog.id}}" value="{{catalog_edit.catalog.name}}" />
                </form>
            </div>
            <div class="row" id="cat_items">
                <div class="row" style="display: inline-flex">
                    <div class="button_style add_btn">
                        <input type="button" class="btn btn-primary newCat_Add_btn" value="Add New" />
                    </div>
                </div>
                <div class="row items_form">
                    {% for c in catalog_edit.catalogItems %}
                    <div class="sport_item">
                        <label class="input_label">Equipment Name:</label><input type="text" name="equipment_name"
                            class="equipment_name ml-10" value="{{c.name}}"/>
                        <label class="input_label ml-10">Description:</label>
                        <textarea name="description" rows="2" cols="20" class="description ml-10" value="{{c.description}}"></textarea>
                        <a href="javascript:void(0)" class="removeCatalogItem">X<br></a></div>
                    {% endfor %}
                </div><div class="button_style edit_catalog">
                    <input type="button" class="btn btn-primary newCat_saveall_items" value="Save" />
                </div>
            </div>
            {% endif %}

        </div>
        {% endblock %}
        <footer></footer>
    </div>



    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="/static/scripts/main_script.js"></script>
</body>

</html>